body {
  margin: 0;
  font-size: 10px;
  font-family: sans-serif;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.widget {
  display: flex;
  width: 650px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#weather {
  background-color: rgb(19, 73, 95);
}

#country {
  background-color: rgb(219, 219, 219);
  height: 400px;
}

/*search and city input*/

.inputCity {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  height: 30px;
  border: solid 3px rgb(27, 101, 131);
  color: rgb(27, 101, 131);
}

.submit {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
  font-size: 1.3rem;
  border-radius: 10px;
  width: 120px;
  height: 36px;
  border-style: none;
  background-color: rgb(27, 101, 131);
  color: white;
  align-items: center;
}

.submit:hover {
  background-color: rgb(171, 219, 226);
  color: black;
}

.submit:active {
  box-shadow: inset 0px 0px 5px rgb(27, 101, 131);
}

.search {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

/*main weather data display */
.weatherMain {
  display: flex;
  flex-direction: row;
  width: 650px;
  justify-content: left;
  margin-left: 4%;
  color: white;
}

#weather .weatherIcon {
  float: right;
  font-size: 14em;
  /*height: 50px;*/
  margin-left: 1%;
  margin-top: 7%;
  /*width: 50px;*/
}

#weather .weatherdetails{
  float: right;
  margin-top:7%;
  justify-content: right;
}

#weather .city {
  font-size: 3em;
}
#weather .city #datetime{
  font-size: 15px;
}

#weather p {
  text-align: left;
  margin-right: 5%;
  margin-left: 4%;
}

#weather #temperature{
  font-size: 70px;
  vertical-align: top;
  margin-left: 10px;
}

#weather #temperature:after{
content: '\00b0';
padding: 2px;
}

#weather #conditions{
  font-size: 20px;
  vertical-align: middle;
  margin-left: -30%;
}

/** weather by days **/
.weatherByDay {
  display: flex;
  flex-direction: row;
  width: 650px;
  justify-content: center;
}

.daycontainer {
  display: flex;
  width: calc(650px/4);
  height: 50px;
  background-color: rgb(27, 101, 131);
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  font-size: 8;
  border-right: 1.5px solid rgb(171, 219, 226);
  border-left: 1.5px solid rgb(171, 219, 226);
}

.daycontainer:first-child {
  border-bottom-left-radius: 20px;
  border-left: none;
}

.daycontainer:nth-child(4) {
  border-bottom-right-radius: 20px;
  border-right: none;
}

#future>.container:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#future .day {
  padding: 0;
  text-align: left;
  margin-left: 5%;
  margin-top: 10px;
  text-transform: uppercase;
}

#future .weatherIcon {
  float: right;
  font-size: 3em;
  /*height: 50px;*/
  margin-left: 5%;
  margin-top: 5%;
  width: 50px;
}

#future #curtmp{
  font-size: 1.2em;
}
#future #curtmp:after{
  content: '\00b0';
  padding: 1px;
}

#future p {
  text-align: left;
  margin-right: 5%;
  margin-left: 4%;
}

#future .high:after,
#future .low:after {
  content: '\00b0';
  padding: 1px;
}

/*country info*/
.currencies {
  display: flex;
  width: 600px;
  height: 70px;
  justify-content: center;
  background-color: rgb(182, 182, 182);
  font-size: 1.5rem;
  margin-top: 250px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}