.gallery_main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  border-radius: 20px;
  height: auto;
}

.gallery_left {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 30px;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  /* border: solid 1px rgb(0, 0, 0); */
  height: flex;
}

.gallery_images {
  order: 0;
  flex: 0 1 auto;
  width: 700px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  background-color: rgb(255, 255, 255);
  /* border: solid 1px rgb(0, 0, 0); */
  height: auto;
  text-align: center;
}

.img_item {
  padding-top:3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
}

.form-group-add-edit-delete {
  width: 100%;
  margin: 0 auto;
  font-size: 20%;
}
