body {
  margin: 0;
  font-size: auto;
  font-family: sans-serif;
  width: flex;
  margin-left: auto;
  margin-right: auto;
}

.widget {
  display: flex;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#weather {
  background-color: rgb(20, 158, 212);
}

#country {
  background-color: rgb(219, 219, 219);
  /*height: 400px;*/
  color:black;
}

/*search and city input*/

.inputCity {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  height: 30px;
  border: solid 3px rgb(27, 101, 131);
  color: rgb(27, 101, 131);
}

.submit {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
  font-size: 1.3rem;
  border-radius: 10px;
  width: 120px;
  height: 36px;
  border-style: none;
  background-color: rgb(27, 101, 131);
  color: white;
  align-items: center;
}

.submit:hover {
  background-color: rgb(171, 219, 226);
  color: black;
}

.submit:active {
  box-shadow: inset 0px 0px 5px rgb(27, 101, 131);
}

.search {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

/*main weather data display */
.weatherMain {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: left;
  margin-left: 0;
  color: white;
}

#weather .weatherIcon {
  float: right;
  font-size: 14em;
  /*height: 50px;*/
  margin-left: 1%;
  margin-top: 7%;
  /*width: 50px;*/
}

#weather .weatherdetails{
  float: right;
  margin-top: 5%;
  justify-content: left;
  margin-left: 150px;
}

#weather .city {
  font-size: 2em;
  margin-top: 5%;
  margin-left: 5%;
}
#weather .city #datetime{
  font-size: 15px;
}

#weather p {
  text-align: left;
  margin-right: 0%;
  margin-left: 0%;
}

#weather #temperature{
  font-size: 25px;
  vertical-align: center;
  margin-left: 50px;
}

#weather #temperature:after{
content: '\00b0';
padding: 2px;
}

#weather #conditions{
  font-size: 15px;
  vertical-align: middle;
  margin-left: 30%;
}

/** weather by days **/
.weatherByDay {
  display: inherit;
  flex-direction: row;
  width: auto;
  justify-content: center;
}

.daycontainer {
  display: inherit;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 101, 131);
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  font-size: 8;
  border-right: 1.5px solid rgb(171, 219, 226);
  border-left: 1.5px solid rgb(171, 219, 226);
}

.daycontainer:first-child {
  border-bottom-left-radius: 20px;
  border-left: none;
}

.daycontainer:nth-child(4) {
  border-bottom-right-radius: 20px;
  border-right: none;
}

#future>.container:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#future .day {
  padding: 0;
  text-align: left;
  margin-left: 5%;
  margin-top: 10px;
  text-transform: uppercase;
}

#future .weatherIcon {
  float: right;
  font-size: 3em;
  /*height: 50px;*/
  margin-left: 5%;
  margin-top: 5%;
  width: 50px;
}

#future #curtmp{
  font-size: 1.2em;
}
#future #curtmp:after{
  content: '\00b0';
  padding: 1px;
}

#future p {
  text-align: left;
  margin-right: 5%;
  margin-left: 4%;
}

#future .high:after,
#future .low:after {
  content: '\00b0';
  padding: 1px;
}

/*country info*/
.countryinfo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
   font-size: 1.5rem;
  /*color: rgb(92, 92, 92);*/
  font-weight: bold;
  border-radius: 20px;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.countryinfo .flag{
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 50%;
  width: 30%;
}

.countryinfo .description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: normal;
}
.countryinfo .left  {
  
}
.countryinfo .right  {
  
}

.currencies {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-evenly;
  border-color: rgb(182, 182, 182);
  border-style: solid;
  border-width: 2px;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-top: 10px;
  color: rgb(92, 92, 92);
  font-weight: bold;
  border-radius: 20px;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.bordercountry {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-evenly;
  border-color: rgb(182, 182, 182);
  border-style: solid;
  border-width: 2px;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  /*margin-top: 250px;*/
  color: rgb(92, 92, 92);
  font-weight: bold;
  border-radius: 20px;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.bordercountry #description{
  float: right;
  margin-top: 1%;
  justify-content: left;
  font-size: 12px;
}

.currencies .description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 12px;
}
.currencies .left  {
  
}
.currencies .right  {
  
}

.leaflet-container {
  width: 100vW;
  height: 50vh;
}

@media (max-width: 825px) {
  #weather .weatherdetails{
    float: rleft;
    margin-top:8%;
    justify-content: left;
    margin-left: 50px;
    margin-right: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .weatherByDay {
    display: auto;
    flex-direction: row;
    width: 25%;
    justify-content: left;
    font-size: xx-small;
  }

  #weather #conditions{
    font-size: 7px;
    vertical-align: middle;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
  }

}